* {
	margin: 0;
}

body {
	font-family: Ariel;
	background: #6495ED
}

h1{
	text-align:center;
	font-weight:bold;
}
main {
	display:flex;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width: 52.1%;
	position: relative;
	margin: 0 auto;
}

aside{
	flex-basis: 33%;
	background: #6495ED;
	border-radius: 25px;
}

.grow img{
	transition: 0.8s ease;
}

.grow img:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform:scale(1.2);
	transition: 0.8s ease;
}

.grow2{
	-webkit-transition:font-size 0.5s;
	transition: font-size 0.5s;
}

.grow2:hover {
	font-size:13pt;
}

.banner{
	position: fixed;
	bottom: 15px;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

.map{
	display:none;
}

.interactive {
	flex-basis: 67%;

}

.popimage {
	height: 300px;
	width: auto;
}

#langdalehall{
	top:84%;
	left:38%;
}

#librarynorth{
	top:88.6%;
	left:42.3%;
}

#kellhall{
	top:80%;
	left:41.2%;
}

#artsandhumanities{
	top:76.5%;
	left:43%;
}

#sparks{
	top:82%;
	left:46%;
}

#west {
	top:91.5%;
	left:46.6%;
}

#urbanlife {
	top:95.5%;
	left:51%;
}

#east {
	top:90.5%;
	left:54.45%;
}

#studentrecreation {
	top:96%;
	left:59.1%;
}

#librarysouth {
	top:93.8%;
	left:39.11%;
}

#classroomsouth {
	top:90.1%;
	left:36%;
}

#petit {
	top:110.6%;
	left:49.7%;
}


.innerpopup{
	padding: 20px 15px;
}

.popup__text {
  margin: 0;
  height: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.asidetitle{
    color: black;
}
.logoimage{
    width: 100px;
    height: auto;
	border-radius: 25px;

}
 .h1buildings{
    font-size: 24pt;
    color: black;
    position:relative;
    left: 50px;
    top: -50px;
}
.list{
    font-size: 10pt;
	list-style-type:none;
}

.button {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
	transition: width 0.2s, height 0.2s;
	border:2px solid #1E90FF;
	background:white;
  }

.interactive {
    position: relative;
    height: 0;
    padding-bottom: 52.91%;
  }
.map {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 45px;
  }

.popup {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    position: absolute;
  }
.innerpopup {
    display: inline-block;
    white-space: nowrap;
    background: #6495ED;
    border: 0;
    border-radius: 5px;

  }
.button:hover .popup {
    opacity: 1;
    width: auto;
    height: auto;
  }
  
.button:hover {
	  width: 12px;
	  height: 12px;
	 
  }
.popup__topright {
    left: 20px;
    bottom: -1px;
  }
.popup__text {
    height: auto;
  }
.popup__text br {
    display: block;
  }

